@import "~bootstrap/scss/bootstrap";

:root{
    --blue-color: #001632;
    --red-color: #F31C19;
    --gray-color: #f8f9fa;
    --lightred-color: rgb(243, 28, 25, 0.6);
}

.blue-bg{
    background-color: var(--blue-color);
}

header.blue-bg,
nav.blue-bg{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.red-bg{
    background-color: var(--red-color);
}

.rounded-pill{
    color: black;
}

.red-hover:hover{
    background-color: var(--lightred-color);
    color: white;
}

.red-font{
    color: var(--red-color)
}

.gray-bg{
    background-color: var(--gray-color);
}

a{
    text-decoration: none;
}

.logo{
        max-width: 100px;
}

.appear-768{
    display: none;
}

@media screen and (min-width: 768px) {
    .appear-768{
        display: inline-block;
    }

    .disappear-768{
        display: none;
    }
}